---
import "../styles/global.css";
import { GalleryHome } from "@components/GalleryHome";
import Nav from "@components/Nav.astro";
import Meta from "@components/Meta.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="favicon.svg" type="image/svg+xml" />
    <meta name="viewport" content="width=device-width" />
    <Meta />
    <title>Pawsitive Impact</title>
  </head>
  <body class="overflow-x-hidden">
    <Nav />
    <div
      class="h-dvh w-dvw flex flex-col justify-center items-center sm:hidden"
    >
      <GalleryHome client:idle />
    </div>
  </body>
</html>
