---
import DogIcon from "@assets/DogIcon.svg";
import Tittle from "@components/Tittle.astro";
const LINKS = [
  {
    text: "Inicio",
    url: "#",
  },
  {
    text: "Galeria",
    url: "#",
  },
  {
    text: "Acerca de",
    url: "#",
  },
];
---

<style>
  @keyframes fade-in {
    from {
      transform: translate(-5px, 2px);
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: translate(0px);
    }
  }
  @keyframes link-animation {
    from {
      transform: translateX(-10px);
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  svg {
    animation-delay: 100ms;
    animation: fade-in 500ms ease-out forwards;
  }
  a {
    animation: link-animation 750ms ease-out forwards;
  }
  @keyframes nav-background {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    50% {
      opacity: 0.5;
      transform: translateY(0);
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  nav .background {
    background: hsl(0 0 100);
    animation: forwards ease-out nav-background 1ms;
    animation-timeline: scroll(block);
    animation-range: entry 0% cover 30vh;
  }
</style>
<nav
  class="h-fit py-5 flex justify-start items-center px-8 fixed lg:grid top-0 inset-x-0 z-50 md:text-sm grid-cols-2 grid-rows-1"
>
  <div class="background absolute inset-0 -z-50 lg:hidden"></div>
  <DogIcon class="size-12 opacity-0 *:stroke-[#f79041] lg:hidden" />
  <ul class="flex gap-x-5 pl-5 items-center h-full row-[1/_-1] col-[1/1]">
    {
      LINKS.map(({ text, url }) => {
        return (
          <li class="hover:opacity-50 transition-opacity duration-300 ease-out">
            <a
              href={url}
              class="font-medium text-primary-900 opacity-0  md:uppercase lg:border-b-2 lg:border-primary"
            >
              {text}
            </a>
          </li>
        );
      })
    }
  </ul>
  <a href="#" class="hidden lg:block row-[1/_-1] col-[1/_-1]">
    <Tittle className="*:uppercase text-center hidden lg:flex -z-50">
      <DogIcon class="size-11 inline-block *:stroke-primary-900" />
      <Fragment slot="body">pawsitive impact</Fragment>
    </Tittle>
  </a>
</nav>
